
*,html, body, p, ul {
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
li{
  list-style: none;
}
a{
  text-decoration: none; 
  color: #ffffff;
  text-transform: uppercase;
}
input{
  border: none;
  outline: none;
}

div{position: relative;}

.container {
  position: relative;
  display: block;
  max-width: 100%;
  margin-right: auto;   
  margin-left: auto;
  padding-left: $mobile-pads;
  padding-right: $mobile-pads;

  @include tablet {
    max-width: 100%;
    padding-left: $tablet-pads;
    padding-right: $tablet-pads;
  }

  @include desktop {
    max-width: 855px;
    padding-left: $desktop-pads;
    padding-right: $desktop-pads;
  }
}
